@import "tailwindcss";

@theme {
  --color-black-light: #3c4043;
  --color-black-dark: #202124;
  --color-gray: #bdc1c6;
  --color-gray-dark: #2a2b2e;
  --color-blue: #1276a7;
  --color-blue-dark: #0054a6;
}

body {
  background-color: #3c4043;
}
